# --- CONFIGURATION DISCORD ---

DISCORD_BOT_TOKEN= Le token

DISCORD_CHANNEL_ID= Id Channel a mettre

# --- CONFIGURATION MISP ---

MISP_URL= Url Instance

MISP_API_KEY= Cle api

MISP_VERIFY_CERT=True

CHECK_INTERVAL=15